#From internet
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz

#my additions
*.pdf
*.nlo
*.fls
*.brf
*.fdb_latexmk
*.nlg
*.nls
*.run.xml
